body{
    font-family: sans-serif;
}
.head{
    background-color: #679be9;
    width: 550px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 10px;
    color: #fff;
    margin-left: 30%;

}

.row {
    margin-left: 115px;
    margin-right: 10px;
    width: 80%;
}